<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "au.com.managemysales.demo"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap Test One</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author href="http://managemysales.com.au" email="support@managemysales.com.au">
        Jonathan Kur
    </author>
 <gap:platform name="ios" />
</widget>